@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
  outline: none;
}

:root {
  --main1: #37c98c;
  --main2: #2ff1a0;
  --main3: #898989;
}

/*registration*/
.header-div {
  color: whitesmoke;
  text-align: center;
  background-image: linear-gradient(to right, var(--main2), var(--main1));
  padding: 1em;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  line-height: 1px;
  margin: 0;
}

.header-resize {
  font-size: 25px;
}

.header-pass {
  height: 50px;
  width: 50px;
}

.form-main {
  width: 300px;
  margin: 0px auto;
  padding: 0em 1em;
}

.p-color-text {
  color: var(--main1);
  font-size: 20px;
}

.inp-reg {
  outline: none;
  border: 1px solid var(--main2);
  font-size: 1em;
  margin: 10px 0;
  border-radius: 50px;
  padding: 5px 10px;
  color: black;
  width: 92%;
}

.inp-reg:focus {
  border: 1px solid var(--main1);
}

.inp-reg::placeholder {
  color: var(--main2);
}

.link-reg-div {
  margin: 1em;
  text-align: center;
}

.link-reg {
  color: var(--main1);
  align-self: center;
}

.btn-reg {
  background: var(--main1);
  color: whitesmoke;
  margin: 10px 0;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
  cursor: pointer;
}

/*CIDGrant*/

.cidgrant-inner {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, var(--main2), var(--main1));
  color: white;
  line-height: 10px;
}

.img-resize {
  margin: 10vh 0 20px 0;
  height: 40px;
  width: 40px;
}

.link-normal {
  background: white;
  color: var(--main1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.192);
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  padding: 0 2em;
  line-height: 50px;
}

/*checkin*/

.check-img {
  outline: none;
  cursor: pointer;
  width: 50%;
  margin: 0 25%;
}

.check-img-btn {
  text-align: center;
  outline: none;
  background: none;
  border: none;
  margin: 20px;
}

.checkin-form {
  text-align: center;
}

.select-inp {
  border: 1px solid var(--main1);
  font-size: 1em;
  margin: 10px 0;
  border-radius: 50px;
  padding: 0px 5px;
  color: var(--main1);
  background: none;
  width: 100px;
}

.checkin-another {
  text-decoration: none !important;
  color: white;
  padding: 0.2em 1em;
  border-radius: 50px;
  width: 100px;
  font-size: 19px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.192);
  background: var(--main1);
}

.checkin-another img {
  height: 15px;
}

.checkout-form {
  text-align: center;
}

fieldset {
  border: 0 none;
}

.types-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.types-flex-item {
  background: none;
  margin: 5px;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.11);
  padding: 2px 5px;
  color: var(--main1);
  cursor: pointer;
}

.short-url {
  color: var(--main1);
  text-decoration: none;
}

.sign {
  max-width: 310px;
  margin: 1em auto;
  background: whitesmoke;
  padding: 0.5em;
  border-radius: 10px;
  background: none;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.11);
}

.sign h2 {
  line-height: 0;
}

.sign h3 {
  line-height: 0.5;
}

.hub-flex {
  display: flex;
  justify-content: space-evenly;
}

.print-btn {
  background: var(--main1);
  border-radius: 50px;
  color: white;
  font-size: 20px;
  border: none;
  padding: 0.1em 1em;
  margin: 0.5em;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.212);
}

.print-btn img {
  height: 16px;
  margin-right: 5px;
}

.checkin-after {
  z-index: 2;
  height: 20vh;
}

.btn-out {
  background: none;
  color: black;
  margin: 10px 0;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.btn-out2 {
  background: none;
  color: var(--main1);
  margin: 10px 0;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.more-text {
  font-size: 12px;
}
