@media print {
  footer {
    page-break-after: always;
  }
}

body {
  margin: 0;
}

body > div {
}

hr {
  width: 66%;
  margin: 5% auto;
}
form {
  margin: 2vh 2vw;
}

.hidden {
  display: none;
}
.sign {
  text-align: center;
}
#thanks {
  text-align: center;
}
#note {
  margin: 1em;
}
#register-cid-link:hover {
  cursor: pointer;
}
#register-cid-link {
  text-decoration: underline;
}
