body {
    margin: 2vh 2vw;
}

form {
    margin: 2vh 2vw;
}

.hidden {
    display: none;
}
.buttons {
    margin-top: 4vh;
    display: block;
}
label {
    clear: both;
}
#sign {
    text-align: center;
}
